<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/cylinder.js"></script>
<script src="https://code.highcharts.com/modules/funnel3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>

<style>
    #container {
        height: 420px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 600px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
<script>
    const socket = io();
    let data =
        [
            ['Website visits', 20],
            ['Website', 10]
        ];






    // Set up the chart
    Highcharts.chart('container', {
        chart: {
            type: 'funnel3d',
            options3d: {
                enabled: true,
                alpha: 10,
                depth: 50,
                viewDistance: 50
            },
            renderTo: 'container',
            events: {
                load: function () {
                    socket.on('arduino:data', function (dataSerial) {
                        let hola = 50;
                        // console.log(dataSerial.value);
                        // data [0][1] = dataSerial.value;
                        data [0][1] = hola;
                        // console.log(data [0][1]);
                    });
                }
            }
        },
        title: {
            text: 'Highcharts Funnel3D Chart'
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b> ({point.y:,.0f})',
                    allowOverlap: true,
                    y: 10
                },
                neckWidth: '30%',
                neckHeight: '25%',
                width: '80%',
                height: '80%'
            }
        },
        series: [{
            name: 'Unique users',
            data: data
        }]
    });


    // socket.on('arduino:data', function (dataSerial) {
    //     console.log(dataSerial.value);
    //     // console.log(data[0][1] = dataSerial);

    // });


</script>